<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IEEE Workshop - AWS Fundamentals</title>
</head>
<body>
<form method="POST">
    Welcome! Use this web app to find number of non-overlapping occurrences of a substring!<br><br>
    Text to be searched:<br>
    <input name="text" value="{{defText}}" size="50" maxlength="1000"><br>
    Search for:<br>
    <input name="key" value="{{defKey}}" size="50", maxlength="100"><br><br>
    <input type="submit"><br>
</form>
<br>
Number of occurrences: {{occurrences}}
</body>
</html>